%section.container
	=image_tag "pathwaysLogo.png"
	%h2 Currently Under Development
	%h3 Check Back Soon
	%p
		In the mean time please visit 
		=link_to "here", "http://www.kw.com/kw/agent/kimberlybbeckwith"